

@font-face {
    font-family: 'HelveticaNowText';
    src:url('../../public/fonts/HelveticaNowText-BlackItalic.woff') format('woff'),
        url('../../public/fonts/HelveticaNowText-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src:url('../../public/fonts/HelveticaNowText-Bold.woff') format('woff'), 
        url('../../public/fonts/HelveticaNowText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src:url('../../public/fonts/HelveticaNowText-BoldItalic.woff') format('woff'), 
        url('../../public/fonts/HelveticaNowText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src:url('../../public/fonts/HelveticaNowText-ExtraLight.woff') format('woff'), 
        url('../../public/fonts/HelveticaNowText-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src:url('../../public/fonts/HelveticaNowText-Black.woff') format('woff'), 
        url('../../public/fonts/HelveticaNowText-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src:url('../../public/fonts/HelveticaNowText-ExtLtIta.woff') format('woff'), 
        url('../../public/fonts/HelveticaNowText-ExtLtIta.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src:url('../../public/fonts/HelveticaNowText-ExtBdIta.woff') format('woff'), 
        url('../../public/fonts/HelveticaNowText-ExtBdIta.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src:url('../../public/fonts/HelveticaNowText-ExtraBold.woff') format('woff'), 
        url('../../public/fonts/HelveticaNowText-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src:url('../../public/fonts/HelveticaNowText-Light.woff') format('woff'), 
        url('../../public/fonts/HelveticaNowText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src:url('../../public/fonts/Orbitron-SemiBold.woff') format('woff'), 
        url('../../public/fonts/Orbitron-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src:url('../../public/fonts/HelveticaNowText-MediumItalic.woff') format('woff'), 
        url('../../public/fonts/HelveticaNowText-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src:url('../../public/fonts/Orbitron-Medium.woff') format('woff'), 
        url('../../public/fonts/Orbitron-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src:url('../../public/fonts/HelveticaNowText-RegIta.woff') format('woff'), 
        url('../../public/fonts/HelveticaNowText-RegIta.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src:url('../../public/fonts/Orbitron-Bold.woff') format('woff'), 
        url('../../public/fonts/Orbitron-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src:url('../../public/fonts/Orbitron-Regular.woff') format('woff'), 
        url('../../public/fonts/Orbitron-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src:url('../../public/fonts/HelveticaNowText-LightItalic.woff') format('woff'), 
        url('../../public/fonts/HelveticaNowText-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src:url('../../public/fonts/Orbitron-ExtraBold.woff') format('woff'), 
        url('../../public/fonts/Orbitron-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src:url('../../public/fonts/HelveticaNowText-Medium.woff') format('woff'), 
        url('../../public/fonts/HelveticaNowText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src:url('../../public/fonts/Orbitron-Black.woff') format('woff'), 
        url('../../public/fonts/Orbitron-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}