$font-size-base: .875rem;
$font-family-base: 'HelveticaNeue';
$font-family-headings: $font-family-base;
$fa-font-size-base:    16px !default;
$font-family-base-new:"HelveticaNowText";
$font-family-headings-new:"Orbitron";
/* colors */
$theme_color: #07234b !default;
$white: #fff !default;
$black: #000 !default;
$blue_1: #03A9F4 !default;
$black_2: #403d3d !default;
$black_3: #4B4B4B !default;
$gray_1: #FAFAFA !default;
$gray_2: #9A9A9A !default;
$gray_3: #7D7D7D !default;
$gray_4: #F9F9F9 !default;
$red: #c12a2a !default;